#80d6b4
<!DOCTYPE html>
<html>
  <head></head>
    <body>
      <div class="row">
        <a href="understand"><img src="http://xpertxolutions.com/images/header-background.jpg"></a>
        <a href="explore"><img src="http://xpertxolutions.com/images/header-background.jpg"></a>
      </div>
    </body>
  </head>
</html>